* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

content {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    padding: 2%;
    background:#F7B32B;
}

footer {
    display: inline;
    text-align: center;

}

footer h1 {
    background: #F7B32B;
    font-size: 50px;
    color: #111D13;
}

.days,
.weeks,
.months {
    margin: 1%;
    background: #F9DB6D;
    width: 20%;
    text-align: center;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #111D13;
    font-weight: bold;
    height: 100%;
    color: #111D13;
}



.months label,
.weeks label,
.days label {
    display: block;
    margin: 5%;
  font-size: 10px;

}

.months input,
.weeks input,
.days input {
    border-width: 0;
    border-radius: 3px;

}

.months button,
.weeks button,
.days button {
    border-width: 0;
    border-radius: 3px;
    padding: 3%;
    display: block;
    margin: 5% auto; 
    box-shadow: 2px 2px 2px #111D13;
    font-weight: bold;
    background: #679436;
    color: #EBF2FA;
}

.months p,
.weeks p,
.days p {
    margin-top: 15%;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.4;
    color : #111D13;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {


  footer h1 {
      font-size: 8vw;
      
  }
    content {
        display: block;
        height: auto;
        width: auto;

    }

    .days,
    .weeks,
    .months {
        display: block;
        width: 90%;
        margin: 1% auto;
        font-size: 25px;
        height: auto;
        padding: 1px;
    }

    .months p,
    .weeks p,
    .days p {
        margin: 5% 2%;
    }

    .months button,
    .weeks button,
    .days button {
        display: inline-block;
        margin: 1% 1%;
    }

}

@media screen and (max-width: 1000px) and (orientation: landscape) {


  main {
    height: auto;
  }
  
    content {
        display: flex;
       height: auto;
    }

  footer {
    height: auto;
  }
 footer h1 {
    font-size: 8vw;
  }

    .days,
    .weeks,
    .months {
        display: inline-block;
        width: 32%;
        margin: 0 auto;
        font-size: 17px;
        height: ;
        padding: 00;
      font-size: 3vw;
    }

    .months button,
    .weeks button,
    .days button {
        display: inline-block;
        margin: 1% 1%;
    }

    .months p,
    .weeks p,
    .days p {
        margin: 5% 2%;
    }

    .months label,
    .weeks label,
    .days label {
        margin: 3%;
      font-size: 2vw;
    }
   

}