* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

content {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    padding: 2%;
    background: rgb(242, 242, 246);
}

footer {
    display: inline;
    text-align: center;

}

footer h1 {
    background: rgb(242, 242, 246);
    font-size: 50px;
}

.days,
.weeks,
.months {
    margin: 1%;
    background: rgb(206, 206, 207);
    width: 20%;
    text-align: center;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    font-weight: bold;
    height: auto;
}



.months label,
.weeks label,
.days label {
    display: block;
    margin: 5%;

}

.months input,
.weeks input,
.days input {
    border-width: 0;
    border-radius: 3px;

}

.months button,
.weeks button,
.days button {
    border-width: 0;
    border-radius: 3px;
    padding: 3%;
    display: block;
    margin: 5% auto;
    box-shadow: 2px 2px 2px black;
    font-weight: bold;
}

.months p,
.weeks p,
.days p {
    margin-top: 15%;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {

    content {
        display: block;
        height: auto;

    }

    .days,
    .weeks,
    .months {
        display: block;
        width: 90%;
        margin: 1% auto;
        font-size: 25px;
        height: auto;
        padding: 1px;
    }


}

@media screen and (max-width: 1000px) and (orientation: landscape) {

    content {
        display: flex;

    }

    .days,
    .weeks,
    .months {
        display: inline-block;
        width: 30%;
        margin: 0 auto;
        font-size: 20px;
        height: auto;
        padding: 1px;
    }

    .months button,
    .weeks button,
    .days button {
        display: inline-block;
        margin: 1% 1%;
    }

    .months p,
    .weeks p,
    .days p {
        margin: 5% 2%;
    }

    .months label,
    .weeks label,
    .days label {
        margin: 3%;
    }

}